/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

elements-of-type(html5-block) {
  display: block; }

/* Global Color Scheme */
/* Global Style */
html {
  font-family: 'Segoe UI'; }

/* Style */
body {
  cursor: default;
  -ms-overflow-style: none;
  background: url("../images/cover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  background-attachment: fixed; }

body::-webkit-scrollbar {
  width: 0 !important; }

outer-container {
  display: block;
  overflow: auto; }

@-moz-document url-prefix() {
  body {
    overflow: hidden; }
  outer-container {
    width: calc(100% + 20px); } }

header {
  display: flex;
  transition: all 0.5s ease;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.8em 2em 0.8em 4em;
  background: rgba(20, 20, 20, 0.4);
  color: #f0f0f0; }
  header x-caption, header x-logo {
    flex: auto;
    white-space: nowrap; }
  header x-caption {
    letter-spacing: 0.1em; }
  header x-logo {
    letter-spacing: 0.2em; }
    header x-logo p {
      display: inline-block;
      position: relative;
      padding: 0.75em 0.375em 0.75em 0.75em;
      border: 2px solid rgba(240, 240, 240, 0.05);
      font-weight: bolder; }
    header x-logo b {
      border: 2px solid #ffcc00;
      padding: 0.75em;
      display: inline-block;
      font-weight: normal;
      transition: all 0.3s ease; }
    header x-logo b:hover {
      background-color: #ffcc00;
      color: #141414; }
  header x-caption span {
    color: #ffcc00; }
  header x-caption p {
    font-size: 2rem;
    display: table-cell;
    vertical-align: middle;
    text-align: left; }
  header nav {
    flex: auto;
    max-width: 440px;
    text-align: center; }
    header nav button {
      font-size: 1rem;
      letter-spacing: 0.12em;
      border: none;
      padding: 0.75em;
      color: #f0f0f0;
      background: none;
      transition: all 0.3s ease; }
    header nav button:hover {
      cursor: pointer;
      color: #ffcc00;
      background: rgba(240, 240, 240, 0.05); }

intro-text {
  transform: all 0.5 ease;
  display: block;
  height: 85vh;
  text-align: center;
  font-size: 3rem;
  line-height: 1.5em; }
  intro-text p {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    color: #f0f0f0;
    font-weight: lighter; }
    intro-text p b {
      font-weight: bolder; }

.banner {
  background-color: rgba(30, 30, 30, 0.9);
  text-align: center; }

main {
  background-color: #f0f0f0;
  color: #141414;
  flex-wrap: wrap; }
  main section {
    padding: 0px;
    background-color: #141414;
    color: #f0f0f0; }
    main section header {
      box-sizing: border-box; }
    main section article-group {
      background-color: #f0f0f0;
      color: #141414;
      padding: 1em 2em 1em 4em; }
    main section article {
      letter-spacing: 0.02em;
      color: #141414; }
      main section article h1 {
        font-size: 1.5rem; }
  main section.gallery {
    height: 95vh; }

footer {
  display: flex;
  background-color: rgba(20, 20, 20, 0.95);
  color: rgba(240, 240, 240, 0.7);
  flex-wrap: wrap; }
  footer section {
    flex: auto;
    padding: 2em 4em 2em 4em; }
    footer section h1 {
      font-size: 1.2em;
      letter-spacing: 0.1em;
      padding: 1rem 0rem 1rem 0rem;
      font-weight: bolder; }

@media only screen and (max-width: 646px) {
  header {
    text-align: center;
    padding: 0.8em;
    justify-content: center; }
    header .gutter {
      display: none; }
  intro-text {
    font-size: 2rem; } }

@media only screen and (min-width: 647px) and (max-width: 736px) {
  header {
    padding: 0.8em; } }
